#pogrubienie_kruk{
    font-size:30px;
    color:#7E5FD4;

}

#pochylony_kruk{
    color:#E2C370;
    font-size:34px;
}

#index_gorny_kruk{
    font-size:0.9cm;
    color:#929120;
}


#index_dolny_kruk{
    font-size:1.3cm;
    color:#2EF5E8;
}

#mono_kruk{
    font-size:39px;
    color:#1241A2;
}

#powiekszenia_kruk{
    color:#4C41A2;
}

#pomniejszenia_kruk{
    color:#B0A53E;
}